# Extracting Vocabulary

In [14]:
import pandas as pd
import numpy as np
import configparser
config = configparser.ConfigParser()
config.read("../../../env.ini")
TOKENS = pd.read_csv('tokens.csv')
OHCO = ['artist', 'song','lines', 'token_num']
import nltk

In [15]:
VOCAB = TOKENS.term_str.value_counts().to_frame('n')
VOCAB.index.name = 'term_str'
VOCAB['p'] = VOCAB.n / VOCAB.n.sum()
VOCAB['i'] = -np.log2(VOCAB.p)
VOCAB['n_chars'] = VOCAB.index.str.len()
VOCAB['max_pos_group'] = TOKENS[['term_str','pos_group']].value_counts().unstack(fill_value=0).idxmax(1)
VOCAB['max_pos'] = TOKENS[['term_str','pos']].value_counts().unstack(fill_value=0).idxmax(1)
sw = pd.DataFrame({'stop': 1}, index=nltk.corpus.stopwords.words('english'))
sw.index.name='term_str'
if 'stop' not in VOCAB.columns:
    VOCAB = VOCAB.join(sw)
    VOCAB['stop'] = VOCAB['stop'].fillna(0).astype('int')
VOCAB

                 n         p          i  n_chars max_pos_group max_pos  stop
term_str
i             4849  0.059544   4.069908        1            PR     PRP     1
you           3962  0.048652   4.361366        3            PR     PRP     1
the           2130  0.026156   5.256741        3            DT      DT     1
it            2056  0.025247   5.307755        2            PR     PRP     1
to            1682  0.020654   5.597417        2            TO      TO     1
...            ...       ...        ...      ...           ...     ...   ...
duffel           1  0.000012  16.313379        6            NN      NN     0
couple           1  0.000012  16.313379        6            NN      NN     0
housekeeping     1  0.000012  16.313379       12            NN     NNP     0
bells            1  0.000012  16.313379        5            NN     NNS     0
possible         1  0.000012  16.313379        8            JJ      JJ     0

[4184 rows x 7 columns]

In [16]:
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
VOCAB['porter_stem'] = VOCAB.apply(lambda x: stemmer.stem(x.name), 1)
VOCAB

,n,p,i,n_chars,max_pos_group,max_pos,stop,porter_stem
term_str,,,,,,,,
i,4849,0.059544,4.069908,1,PR,PRP,1,i
you,3962,0.048652,4.361366,3,PR,PRP,1,you
the,2130,0.026156,5.256741,3,DT,DT,1,the
it,2056,0.025247,5.307755,2,PR,PRP,1,it
to,1682,0.020654,5.597417,2,TO,TO,1,to
...,...,...,...,...,...,...,...,...
duffel,1,0.000012,16.313379,6,NN,NN,0,duffel
couple,1,0.000012,16.313379,6,NN,NN,0,coupl
housekeeping,1,0.000012,16.313379,12,NN,NNP,0,housekeep
bells,1,0.000012,16.313379,5,NN,NNS,0,bell
possible,1,0.000012,16.313379,8,JJ,JJ,0,possibl

# -------------------------------------------------------